/* this is my first CSS comment
 and the comment goes on
 */
body *{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

footer{
    text-align: center;
}

article{
    border: 2px solid black;
}

#menu-bar{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

#page-wrap {
    text-align: left;
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
}

input:focus { 
    background-color: grey;
}
.inline{
    display: inline;
}

.left{
    float: left;
}
.center{
    float: center;
}
.right{
    float: right;
}

.scroll{
    overflow: scroll;
}

.clear{
    clear: both;
}

form{
    padding: 20px;
    border: solid 1px lightslategray;
    border-radius: 10px;
}

form>div{
    padding: 10px;
}

.navigation>a, .language>a{
    padding-left: 10px;
}

.language>a>img {
    width: 10%;
}

input[type="text"]:focus {
    background-color: white;
}

#navigation-background{
    padding: 4px;
    background-color: gainsboro;
    border-color: black;
    border-radius: 2px;
    clear: both;
}

header{
    width: 100%
}

footer{
    width: 100%
}

header div.logo{
    float: left;
    width: 30%;
}
footer>div{
    width: 40%;
}
header #userInfo{
    float: right;
}

img#rs-logo{
    width: 70%;
}
img#ams-logo{
    width: 40%;
}

a.active{
    color: #fff;
    border-radius: 4px; 
}
#navigation-background {
    position: relative;
}
#navigation-background>.nav{
    position: absolute;
    bottom: 0;
    left: 0;
}

#header{
    background-color: lightgrey;
}

#content{
    margin-top: 30px;
}
